*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
    color: white;
    background-color: blueviolet;
}
header{
    background-color: gold;
    color: black;
    padding: 2rem;
}


.hero{
    background-color: yellow;
    color: white;
}

.features {
    background-color: green;
}

.contact{
        background-color: blue;
    }
.footer{
    background-color: brown;
    padding: 4rem 0;
}

.contact{
    color: green;
    background-color: aqua;
}

.pricing{
    color: white;
}

.latest{
    color: blue;
    background-color: red;
    font-weight: 900;
}